In [ ]:
HEBB

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
d = {'x1':[1,1,-1,-1],'x2':[1,-1,1,-1],'y':[1,-1,-1,-1]}
data = pd.DataFrame(data = d)
data.head()

   x1  x2  y
0   1   1  1
1   1  -1 -1
2  -1   1 -1
3  -1  -1 -1

In [12]:
w1=0
W1=[0,0,0,0]
w2=0
W2=[0,0,0,0]
for i in range(4):
    W1[i]=w1+(data['x1'][i]*data['y'][i])
    W2[i]=w2+(data['x2'][i]*data['y'][i])
    w1=W1[i]
    w2=W2[i]
B=[0,0,0,0] 
b1=0
for i in range(4):
    B[i]=b1+data['y'][i]
    b1=B[i]
    
data['W1'] = W1
data['W2'] = W2
data['b'] = B
data.head()

   x1  x2  y  W1  W2  b
0   1   1  1   1   1  1
1   1  -1 -1   0   2  0
2  -1   1 -1   1   1 -1
3  -1  -1 -1   2   2 -2