In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
d = {'x1':[1,1,0,0],'x2':[1,0,1,0],'y':[1,0,0,0]}
data = pd.DataFrame(data = d)
data.head()

   x1  x2  y
0   1   1  1
1   1   0  0
2   0   1  0
3   0   0  0

In [4]:
w1 = 1
w2 = 1
yin = [(data['x1'][i]*w1) + (data['x2'][i]*w2) for i in range(4)]
data['yin'] = yin
data.head()

   x1  x2  y  yin
0   1   1  1    2
1   1   0  0    1
2   0   1  0    1
3   0   0  0    0

## THRESHOLD

- f >= (n*w - p)
- n = Number of inputs
- p = Number of Inhibitory Weights

In [5]:
fthresh = (2*1 - 0)

In [6]:
y = []
for i in range(4):
    if data['yin'][i] >= fthresh:
        y.append(1)
    else:
        y.append(0)

data['ycal'] = y
data.head()

   x1  x2  y  yin  ycal
0   1   1  1    2     1
1   1   0  0    1     0
2   0   1  0    1     0
3   0   0  0    0     0

# END