In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.options.display.float_format = '{:.2f}'.format

In [10]:
d = {'Y':[1,2,1,3,2,3,3,4,4,3,5,3,3,2,4,5,5,5,4,3],'X1':[40,45,38,50,48,55,53,55,58,40,55,48,45,55,60,60,60,65,50,58],'X2':[25,20,30,30,28,30,34,36,32,34,38,28,30,36,34,38,42,38,34,38]}
data = pd.DataFrame(data = d)
data.head()

   Y  X1  X2
0  1  40  25
1  2  45  20
2  1  38  30
3  3  50  30
4  2  48  28

In [11]:
data['X1*Y'] = data['X1']*data['Y']
data['X2*Y'] = data['X2']*data['Y']
data['X1*X2'] = data['X1']*data['X2']
data.head()

   Y  X1  X2  X1*Y  X2*Y  X1*X2
0  1  40  25    40    25   1000
1  2  45  20    90    40    900
2  1  38  30    38    30   1140
3  3  50  30   150    90   1500
4  2  48  28    96    56   1344

In [12]:
summation = [data[i].sum() for i in data.columns]
mean = [data[i].sum()/len(data) for i in data.columns]  

data.loc['Mean'] = mean
data.loc['Sum'] = summation
data.head()

     Y    X1    X2   X1*Y  X2*Y   X1*X2
0 1.00 40.00 25.00  40.00 25.00 1000.00
1 2.00 45.00 20.00  90.00 40.00  900.00
2 1.00 38.00 30.00  38.00 30.00 1140.00
3 3.00 50.00 30.00 150.00 90.00 1500.00
4 2.00 48.00 28.00  96.00 56.00 1344.00

In [13]:
sum_x1_y = data.loc['Sum'][3] - ((data.loc['Sum'][1] * data.loc['Sum'][0])/ 20)
sum_x2_y = data.loc['Sum'][4] - ((data.loc['Sum'][2] * data.loc['Sum'][0])/ 20)
sum_x1_x2 = data.loc['Sum'][5] - ((data.loc['Sum'][1] * data.loc['Sum'][2])/ 20)
a = (data['X1'].iloc[0:20]) - (data.loc['Mean'][1])
sum_x1_x1 = sum(a*a)
b = (data['X2'].iloc[0:20]) - (data.loc['Mean'][2])
sum_x2_x2 = sum(b*b)
c = (data['Y'].iloc[0:20]) - (data.loc['Mean'][0])
sum_y_y = sum(c*c)
Y_bar = data.loc['Mean'][0]
X1_bar = data.loc['Mean'][1]
X2_bar = data.loc['Mean'][2]

In [14]:
print(sum_x1_y,sum_x2_y,sum_x1_x2,sum_x1_x1,sum_x2_x2,sum_y_y,Y_bar,X1_bar,X2_bar)

139.5 90.25 515.5 1091.8 521.75 29.75 3.25 51.9 32.75

In [15]:
b1 = ((sum_x2_x2 * sum_x1_y) - (sum_x1_x2 * sum_x2_y)) / ((sum_x1_x1 * sum_x2_x2) - (sum_x1_x2 * sum_x1_x2))
b1

0.08640900619401236

In [16]:
b2 = ((sum_x1_x1 * sum_x2_y) - (sum_x1_x2 * sum_x1_y)) / ((sum_x1_x1 * sum_x2_x2) - (sum_x1_x2 * sum_x1_x2))
b2

0.08760164313749232

In [17]:
a = Y_bar - b1*X1_bar - b2*X2_bar
a

-4.103581234222115

In [18]:
X1 = 50
X2 = 20
y = a + b1*X1 + b2*X2
y

1.9689019382283497